<h1>{{ title }}</h1>

<div *ngIf= 'logado.username != null'>
  
  <div *ngIf= 'logado.super == "false"'>
    <nav class="navbar">
        <ul>
            <li><a routerLink="/livros" routerLinkActive="active">Livros</a></li>
            <li><a routerLink="/estantes" routerLinkActive="active">Estantes</a></li>
            <li><a routerLink="/usuarios" routerLinkActive="active">Meu Perfil</a></li>
            <li><a routerLink="/emprestimos" routerLinkActive="active">Meus Emprestimos</a></li>
            <li><a routerLink="/multas" routerLinkActive="active">Minhas Multas</a></li>
            <li><a routerLink="/generos" routerLinkActive="active">Generos</a></li>
        </ul>
    </nav>
  </div>
  <div *ngIf= 'logado.super == "true"'>
    <nav class="navbar">
        <ul>
            <li><a routerLink="/livros" routerLinkActive="active">Livros</a></li>
            <li><a routerLink="/estantes" routerLinkActive="active">Estantes</a></li>
            <li><a routerLink="/usuarios" routerLinkActive="active">Usuarios</a></li>
            <li><a routerLink="/prateleiras" routerLinkActive="active">Prateleiras</a></li>
            <li><a routerLink="/emprestimos" routerLinkActive="active">Emprestimos</a></li>
            <li><a routerLink="/multas" routerLinkActive="active">Multas</a></li>
            <li><a routerLink="/generos" routerLinkActive="active">Generos</a></li>
            <li style="float:right"><a routerLink="" (click)="deslogar()">Logout</a></li>
        </ul>
    </nav>
    
  </div>
  <div>
  </div>
</div>

<div *ngIf= 'logado.username == null'>
  <nav class="navbar">
        <ul>
            <li><a routerLink="/livros" routerLinkActive="active">Livros</a></li>
            <li><a routerLink="/estantes" routerLinkActive="active">Estantes</a></li>
            <li><a routerLink="/prateleiras" routerLinkActive="active">Prateleiras</a></li>
            <li><a routerLink="/generos" routerLinkActive="active">Generos</a></li>
            <li><a routerLink="/usuarios" routerLinkActive="active">Login e Cadastro</a></li>
        </ul>
    </nav>
</div>

<router-outlet></router-outlet>
<app-messages></app-messages>
