<div *ngIf="logado.nome != null">
  <h1>{{logado.nome}}</h1>
  
  <div>
    <button>
      <a routerLink="{{logado.pk}}">
        <span class="badge">Editar</span> -->
      </a>
    </button>
  </div>
  
</div>

<div *ngIf='logado.super == "true"'>
  <div>
    <a> Ordenar por : </a>
    <select [(ngModel)]="order" >
      <option value="null">Nenhum</option>
      <option value="username">Usuario</option>
      <option value="email">Email</option>
    </select>
    <button (click)="crescente()">crescente</button>
    <button (click)="decrescente()">descrescente</button>
  </div>

  <div>
    <a> Pesquisar por : </a>
    <input [(ngModel)]="search" placeholder="pesquisar"/>
  </div>
  
  <div *ngIf='order'>
    <div *ngIf='order[0] == "-"'><h3>Selecionado Decrescente</h3></div>
    <div *ngIf='order[0] != "-"'><h3>Selecionado Crescente</h3></div>
  </div>

  <div>
    <button (click) ="filtrarUsers()">Pesquisar</button>
  </div>

  <div>
    <ul class="usuarios">
      <li *ngFor="let usuario of usuarios">
        <a routerLink="{{usuario.pk}}">
          <span class="badge">{{usuario.pk}}</span> {{usuario.username}}
        </a>
      </li>
    </ul>
  </div>
  
  <div>
    <div *ngIf="previosPage">
      <button (click)="previous()">anterior</button>
    </div>
    <div  *ngIf="nextPage">
      <button (click)="next()">proxima</button>
    </div>
  </div>
</div>

<div *ngIf="logado.nome == null">
  <div *ngIf="criar==false">
    <div class="login-box">
    <h1>Login</h1>
    <div class="textbox">
        <i class="fas fa-user"></i>
        <input [(ngModel)]="user.username" type="text" placeholder="Usuário">
    </div>
  
    <div class="textbox">
        <i class="fas fa-lock"></i>
        <input [(ngModel)]="user.password" type="password" placeholder="Password">
    </div>
  
    <input type="button" class="btn" value="Logar" (click)="loginUser()">
    <input type="button" class="btn" value="Não possuir uma conta?" (click)="criarUser()">

</div>
  </div>
  <div *ngIf="criar==true">
    <div class="login-box">
    <h1>Cadastro</h1>
    <div class="textbox">
        <i class="fas fa-envelope"></i>
        <input [(ngModel)]="user.email" type="text" placeholder="Email">
    </div>
  
    <div class="textbox">
        <i class="fas fa-quote-left"></i>
        <input [(ngModel)]="user.first_name" placeholder="Nome">
    </div>

    <div class="textbox">
        <i class="fas fa-user"></i>
        <input [(ngModel)]="user.username" placeholder="Usúario">
    </div>

    <div class="textbox">
        <i class="fas fa-lock"></i>
        <input [(ngModel)]="user.password" placeholder="Password">
    </div>
  
    <input type="button" class="btn" value="Criar" (click)="addUser()">
    <input type="button" class="btn" value="Ja possui uam conta?" (click)="logarUser()">  
  </div>
</div>